form.prxf{
	color:#dddddd;
	font-size:15px;
	font-family:arial;
	color:#000000;
	margin:0px 0px 0px 0px}
table.prxtbl{
	vertical-align:middle;
	color:#555555;
	font-size:15px;
	white-space: nowrap;
	padding:0px;
	border-width:0px;
	border-collapse:collapse;
	background-color:#999999;
	width:100%;}
table.prxtbl td{
	vertical-align:middle;
	height:1px;
	padding:1px;
	spacing:1px;
	line-height:100%;
	white-space:nowrap}	
input.prxfinbox{
	border-color:#555555;
	background-color:#eeeeee;
	border:1px solid;}
.prxftxt{
	color:#dddddd;
	font-size:11px;
	font-family:arial}
a.prxflnk, a:visited.prxflnk{
	text-decoration:underline;
	color:#555555;
	font-family:arial;
	font-size:12px;
	font-weight:bold}
input.prxfinbut{
	font-weight:bold;
	background-color:#ffffff;
	border:1px solid;
	color:#000000}
iframe.prxifrm{
	border:2px solid;
	border-collapse:collapse;
	border-color:#dddddd;
	overflow:hidden;
	height:100%;
	width:100%;
	margin:0 0 0 0;
	display:inline}	